body {
  color: #000000;
  font-family:Arial;
  font-size:13px;
  text-align:center;
  background-color: #ffffff;
  margin: 0px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
  canvas
  {vertical-align: top;}
  #info {
  color: #000000;
  position: absolute;
  width: 100%;
  padding: 15px;
}
